body{
    background: paleturquoise;
    font-family: 'Lato', sans-serif;
}

.jumbotron{
    margin: 20px auto; 
}
.row{
    margin: auto, 0px;
}
.hide{
    display: none;
}

header {
    width: 100vw;
    top: 0;
  }