body{
    
    font-family: 'Lato', sans-serif;
}
h1{
    text-align: center;
}

.jumbotron{
    margin: 20px auto; 
}
.row{
    margin: auto, 0px;
}
.hide{
    display: none;
}

header {
    width: 100vw;
    top: 0;
    background-color: #0099cc;
  }

.right{
    color: green
}

.wrong{
    color: red
}
.clock-wrong{
    background-color: red;
}